body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.hero img {
    width: 100%;
    height: auto; /* Автоматическая высота для лучшего отображения на мобильных устройствах */
    object-fit: cover;
}

.content {
    padding: 20px;
    background-color: #fff;
    text-align: left;
    max-width: 1200px; /* Ограничиваем ширину контента */
    margin: 0 auto; /* Центрируем контент */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Легкая тень для контента */
    border-radius: 8px; /* Сглаженные углы */
}

h1, h2 {
    color: #333;
    text-align: left;
    margin-bottom: 15px; /* Отступ снизу */
}

code {
    background-color: #f4f4f4;
    padding: 10px;
    display: block;
    white-space: pre-wrap;
    word-wrap: break-word;
    border-radius: 5px;
    font-family: 'Courier New', monospace;
    margin: 20px 0;
}

p {
    color: #666;
    font-size: 1.1em;
    margin: 10px 0;
    text-align: left;
    line-height: 1.6; /* Межстрочный интервал для лучшей читаемости */
}

/* Медиазапросы для мобильных устройств */
@media (max-width: 768px) {
    .hero img {
        height: 30vh; /* Меньше высота для мобильных устройств */
    }

    .content {
        padding: 15px;
    }

    h1, h2 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
    }
}
