/* Сброс отступов и полей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Картинка, которая занимает всю ширину экрана */
img {
    width: 100vw;  /* Заполняет всю ширину экрана */
    height: 50vh; /* Заполняет всю высоту экрана */
    object-fit: cover; /* Обрезает изображение, чтобы оно полностью заполняло экран */
    display: block; /* Убирает возможные отступы снизу */
}

/* Контейнер для контента */
.content {
    padding: 20px;
    margin: 0 auto;  /* Выравнивание по центру */
    max-width: 1300px;  /* Фиксированная ширина контента */
    text-align: left;  /* Выравнивание текста по левой стороне */
}

/* Стиль для заголовков */
.heading {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Стиль для абзацев */
.paragraph {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}
