<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Estate Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>



    <!-- The image that takes up the entire screen -->
    <img src="{{ url_for('static', filename='images/rs1.JPEG') }}" alt="Background Image">



    <div style="text-align: right; margin-right: 30px; margin-top: 20px;">
        <br><p font-size: 18px;">The work was done by Kateryna Yakymenko </p>
        <br><p font-size: 18px;">The data was taken from Kaggle (House Prices - Advanced Regression Techniques)</p>
    </div>



    <!-- Container with content 1 -->
    <div class="content">
        <h1 class="heading">Task:</h1>
        <p class="paragraph" style="margin-bottom: 0;" >
            Develop a system that predicts the price of real estate based on various factors such as house size, number of rooms, property type, and other characteristics. The system should be capable of processing historical data on real estate prices and providing accurate predictions for new properties.
            The goal of the project is to develop a system that predicts real estate prices based on multiple factors, including square footage, number of rooms, location, and other features.
        </p>

        <h1 class="heading">Goal:</h1>
        <p class="paragraph" style="margin-bottom: 0;">
            To accomplish this task, it is necessary to collect and process data using machine learning methods, then train models (Linear Regression, Random Forest, and XGBoost) to accurately predict house prices based on these factors.
            It is also important to evaluate the models' performance using accuracy metrics such as MAE and RMSE to select the most suitable model for real-world conditions.
        </p>
    </div>


</body>
</html>
